
.body {
    font-family: FiraGO,Tahoma,Calibri,Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    color:#3f454d;
    letter-spacing: .5px;
}

.section-shaped .shape-here {
    background: radial-gradient(circle at 100% 50%,#85e0ce,#e7e1a0); }

.navbar-brand img {
    height: 40px;
}

/* Yellow-Green Style */
.here-yg {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#85e0ce,#e7e1a0); 
}

.badge-here-yg {
    color: #85e0ce;
    border: 1px solid #85e0ce;
    background: #fff; 
}

.text-here-yg {
    color: #85e0ce;
}

.btn-here-yg-2 {
    color: #85e0ce;
    background:#fff;
    border: 1px solid #85e0ce;
}

.btn-here-yg-2:hover {
    color: #fff;
    border: 1px solid #85e0ce;
    background: #85e0ce;  
}

.bg-gradient-here-yg {
    background: radial-gradient(circle at 100% 50%,#e7e1a0, #85e0ce);  
}

.btn-here-yg {
    color: #3f454d;
    border: none;
    background: radial-gradient(circle at 100% 50%,#85e0ce,#e7e1a0); 
}

.btn-here-yg:hover {
    background: #fff;
    color: #3f454d;
}

.bg-here-yg {
    background-color: #85e0ce!important;
}

.fill-here-yg {
    fill: #85e0ce;
}

.text-here-yg {
    color: #85e0ce;
}

.text-here-yg-dark {
    color: #3f454d;
}

.btn-here-yg:active {
    color: #fff;
}


/* Pink--Aqua Style */
.here-pa {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#48dad0,#e29abf);
}

.here-pa-2 {
    color: #e29abf;
    border: 1px solid #e29abf;
}

.btn-here-pa-2 {
    color: #e29abf;
    border: 1px solid #e29abf;
}

.btn-here-pa-2:hover {
    color: #fff;
    background: #e29abf;
    border: 1px solid #e29abf;
}

.here-pa-2:hover {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#48dad0,#e29abf);
}

.text-here-pa {
    color: #e29abf;
}


.btn-here-pa {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#48dad0,#e29abf);
}

.btn-here-pa:hover {
    background: #fff;
    color: #e29abf;
}

.text-here-pa {
    color: #bd87a3;
}

/* Orange-Aqua Style */
.here-oa {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#48dad0,#f5b086); 
}

.badge-here-oa {
    color: #f5b086;
    border: 1px solid #f5b086;
    background: #fff; 
}

.btn-here-oa-outline {
    color: #f5b086;
    border: 1px solid #f5b086;
    background: #fff;
}

.btn-here-oa-outline:hover {
    color: #fff;
    border: 1px solid #f5b086;
    background: #f5b086; 
}

.here-oa:hover {
    color: #f5b086;
    background:#fff;
    /* border: 1px solid #f5b086; */
}

.here-oa-2 {
    color: #f5b086;
    background:#fff;
    border: 1px solid #f5b086;
}

.here-oa-2:hover {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#48dad0,#f5b086); 
}

.bg-gradient-here-oa {
    background: radial-gradient(circle at 100% 50%,#48dad0,#f5b086);  
}
.bg-here-oa {
    background: #f5b086;  
}

.btn-here-oa {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#48dad0,#f5b086); 
}



.btn-here-oa:hover {
    background: #fff;
    color: #48dad0;
}

.bg-here-oa {
    background-color: #f5b086!important;
}

.fill-here-oa {
    fill: #f5b086;
}

.text-here-oa {
    color: #f5b086;
}


/* Orange-Aqua Style */
.here-da {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#a4c3ff,#48dad0); 
}

.here-da:hover {
    color: #48dad0;
    border: none;
    background: #fff; 
}

.btn-here-da-outline {
    color: #48dad0;
    border: 1px solid #48dad0;
    background: #fff;
}

.btn-here-da-outline:hover {
    color: #fff;
    border: 1px solid #48dad0;
    background: #48dad0; 
}


.here-da-2 {
    color: #48dad0;
    border: 1px solid #48dad0;
}

.here-da-steps {
    color: #48dad0;
    border: 2px solid #48dad0;
    font-weight: bold;
    font-size: 25px;
}

.here-steps-title-da {
    color: #48dad0;
    font-weight: bold;
    font-size: 20px;
}



.here-da-2:hover {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#a4c3ff,#48dad0); 
}

.btn-here-da {
    color: #fff;
    border: none;
    background: radial-gradient(circle at 100% 50%,#a4c3ff,#48dad0); 
}

.btn-here-da:hover {
    background: #fff;
    color: #a4c3ff;
}

.bg-here-da {
    background-color: #48dad0!important;
}

.bg-gradient-here-da {
    background: radial-gradient(circle at 100% 50%,#a4c3ff,#48dad0);  
}

.fill-here-da {
    fill: #48dad0;
}

.text-here-da {
    color: #48dad0;
}

/* Social Buttons Colors */

.btn-vk-logo-color {
    color: #fff;
    background-color: #4f7db3;
}

.btn-vk-logo-color:hover {
    color: #4f7db3;
    background-color: #fff;
}

.btn-fb-logo-color {
    color: #fff;
    background-color: #4064ad;
}

.btn-fb-logo-color:hover {
    color: #4064ad;
    background-color: #fff;
}

.btn-telegram-logo-color {
    color: #fff;
    background-color: #2fa3d6;
}

.btn-telegram-logo-color:hover {
    color: #2fa3d6;
    background-color: #fff;
}

/* Carousel */
/* .carousel-caption h3{
    color:#fff !important;
}

.carousel-caption {
    background-color: #0000008c;
    border-radius: 10px;
} */

.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #85e0ce ;
}

.vertical-timeline {
    border-bottom: 4px solid #85e0ce;
}

.slick-slide {
    padding: 10px;
}

.btn-secondary {
    color: #85e0ce!important;
    background-color: #f4f5f7;
    border-color: #f4f5f7;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.page-title {
    display: flex;
    margin-bottom: 100px;
    background: #9e9e9e82;
    padding: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}